//PATHS
$img-path : 				"img";
$font-path : 				"scss/fontface";

$fa-font-path:  			$font-path;


//COLORS
$fondo_web:					#F9F3F2;
$blanco: 					#FFFFFF;
$negro:						#000000;
$transparente:				transparent;
$rojo:                      #FD3D34;
$verde:                     #2cff00;
$beige:                     #F9F3F2;

//OVERRIDE VARIABLES

$enable-rounded:			false;
$enable-shadows:			false;
$body-bg:                   $fondo_web;
$body-color:                $negro;

// Links
//
// Style anchor elements.

$link-color:                $negro;
$link-decoration:           none;
$link-hover-color:          $negro;
$link-hover-decoration:     none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem;


//FONT
$font-weight-light:         normal;
$font-weight-normal:        normal;
$font-weight-bold:          normal;

$font-size-base:            1rem; // Assumes the browser default, typically `16px` la tipo custom es 12.89px
$letter-spacing-base:		1.5px;

$headings-font-weight:     	normal;

//$font-family-serif:      		'Zipper Std', serif !important;
//$font-family-sans-serif:     	'ABC Monument G SMono', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base:            	$font-family-sans-serif;
$input-placeholder-color: 		$negro;


/* set the overriding variables */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  xxxxl: 1800px
  );
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
  xxxl: 1540px,
  xxxxl: 1740px
);